/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

#qunit,#json {
	float: left;
}

#qunit {
	width: 40%;
}

#json {
	width: 60%;
}

#templates {
	display: none;
}

.jsonContent {
	background-color: ghostwhite;
	border-right: 3px solid silver;
	border-left: 3px solid silver;
	border-bottom: 3px solid silver;
	padding: 10px 20px;
	margin: 0px;
}

.json-key {
	color: brown;
}

.json-value {
	color: navy;
}

.json-string {
	color: olive;
}

#jsonPanels {
	font-family: "Helvetica Neue Light", "HelveticaNeue-Light",
		"Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
	font-size: small;
}

#jsonPanels div.title {
	background-color: #D2E0E6;
	border-bottom: 1px solid #FFFFFF;
	padding: 0.5em 1em;
	color: #366097;
}

#jsonPanels div.title.active {
	background-color: ghostwhite;
	border-right: 3px solid silver;
	border-left: 3px solid silver;
	border-top: 3px solid silver;
	padding: 0.5em 1em;
	color: #366097;
}

#jsonPanels div.title a {
	color: #2B81AF;
	text-decoration: none;
}

#params {
	font-family: "Helvetica Neue Light", "HelveticaNeue-Light",
		"Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
	margin-bottom: 20px;
}

#params h1 {
	background-color: #0D3349;
	border-radius: 5px 5px 0 0;
	color: #8699A4;
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1em;
	padding: 0.5em 0 0.5em 1em;
	margin-bottom: 0;
}

#params table {
	background-color: #EEEEEE;
	color: #5E740B;
	overflow: hidden;
	padding: 0.5em 1em;
	width: 100%;
}

#params .param-key {
	font-size: smaller;
	width: 150px;
}

#params input[name='serverUrl'] {
	width: 300px;
}